html,
body {
  width: 100%;
  height: 100%;
  color: #2e3d49;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFF;
  overflow: hidden;
  font-family: 'Coda', cursive;
}
.total-panel {
  width=100%
}


h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 10px;
}

.deck {
  width: 60%;
  margin: 0 auto;
  background: -webkit-linear-gradient(290deg, #02CCBA 0%, #AA7ECD 100%);
  background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.5);
}
.deck .card {
  height: 100px;
  width: 21%;
  background: #2e3d49;
  display: inline-block;
  margin: 2%;
  line-height: 280px;
  font-size: 0;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  vertical-align: top;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  font-family: FontAwesome;
  line-height: 98px;
}

.fa.char {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


@media only screen and (max-width: 800px){
  .deck .card{
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  .deck {
    width: 390px;
  }
}

@media only screen and (max-width: 450px){
  .deck .card{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 10px 0 !important;
  }

  .deck {
    width: 240px;
  }
}

.deck .card.open {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}
.deck .card.show {
  font-size: 45px;
}
.deck .card.match {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  cursor: default;
  background: #02ccba;
  font-size: 45px;
}
.deck .card.notmatch {
  background: #f95c3c;
}

#score-panel {
    width: 60%;
  text-align: left;
  margin-bottom: 10px;
  font-size: 23px;
}
input {
    font-size: 23px;
    height:30px;
    width: 22em;
}
#score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}
#score-panel .stars li {
  list-style: none;
  display: inline-block;
}
#score-panel .restart, .reconfigure {
  float: right;
  cursor: pointer;
  margin-left: 1em;
  }

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.swal2-overlay {
  background-color: white;
}

.font-color {
  color: white;
}
.timers {float: right;}
.timers .timer {display: inline-block;}
.timers .timer h3 {margin: 0px;}
.timers .restart {display: inline-block;}
.timers .reconfigure {display: inline-block;}
.containerdiv {max-width: 690px; width: 100%; margin: 0 auto;}
.leftdiv {float: left;}
.clear {clear: both;}
.font-color {
  color: white;
}
.closed {
    display: none;
}
.inline {
    display: inline-block;
}
